<%-include("header")-%>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nulla saepe? Eius nihil placeat eum nam
        provident. Quas, porro fugiat voluptate delectus corrupti omnis magni, explicabo, iure minus reiciendis maxime?
    </p>
    <%-include("footer")-%>